* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.colors {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
  margin-left: 0px;
}

.colors div {
  background: white;
  width: 10px;
  height: 10px;
  margin: 0px 6px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.colors > div:nth-child(1n) {
  background-color: #fd424b;
}

.colors > div:nth-child(3n) {
  background-color: #9be15d;
}

.colors > div:nth-child(2n) {
  background-color: #ffb003;
}

.colors > div:nth-child(4n) {
  background-color: #118ab2;
}

.colors div:hover {
  border: 2px solid white;
}

div.activeColors {
  border: 2px solid white;
}
