/* dark */
/* color: #1e1e1e; */
/* color: #262626; */
/* color: #111; */
/* light */
/* color: #fff; */
/* color: #aaa; */
/* color: #ccc; */

/* background-color: #f0f8ff; */
main.home {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  padding: 32px 0px;
}

main.home > div {
  display: flex;
  flex-direction: column;
  padding: 1.175rem 1.75rem;
}

div.first,
div.second,
div.third {
  grid-column: 1 / -1;
  justify-content: space-evenly;
}

div.fourth {
  grid-column: 1 / 2;
  flex-direction: column;
}

div.fifth {
  grid-column: 2 / 3;
}

div.first h2 {
  /* color: #fff; */
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.75rem;
}

div.first h3 {
  /* color: rgb(229, 231, 235); */
  color: rgb(55, 65, 81);
  margin-bottom: 12px;
}

div.first p {
  /* color: rgb(156, 163, 175); */
  color: rgb(75, 85, 99);
  margin-bottom: 6px;
}

div.second p,
div.third p {
  margin-bottom: 6px;
  z-index: 1;
}

div.third p {
  /* color: rgb(156, 163, 175); */
  color: rgb(75, 85, 99);
  /* display: flex;
  align-items: center; */
}

div.third .strawhat {
  width: 2rem;
  height: 1.25rem;
}

div.third .strawhatlogo {
  width: 1.5rem;
  height: 1.5rem;
}

div.fourth img {
  margin-top: 40px;
}
