@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontPrimary: #002333;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --gradient-tertiary: linear-gradient(to top left, #faaa16e8, #ff0000ed);
  /* --gradient-transparent: linear-gradient(45deg, #000000c2, #00000008); */
  --gradient-transparent: linear-gradient(45deg, #a7a7a7d6, #626262a6);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursor {
  @apply cursor-pointer;
}

.nav-items {
  @apply w-1/2 h-16 list-none flex justify-center items-center;
}

.nav-lists {
  @apply w-full h-14 list-none px-2 flex justify-start items-center;
}

.nav-lists:hover {
  @apply bg-slate-100 dark:bg-zinc-800;
}

.navbar-links:hover {
  @apply transition-all text-gray-600 dark:text-gray-300;
}

.activeNav {
  @apply text-gray-500 dark:text-gray-400;
}

.color {
  @apply w-3 h-3 mx-1.5 border-b border-slate-50 rounded-md cursor-pointer md:w-3.5 md:h-3.5;
}

.color:hover {
  @apply border-2 border-gray-200 /*dark:border-white; */;
}

.theme-current {
  @apply bg-transparent;
}

.activeColor {
  @apply border-2 border-gray-300 dark:border-white;
}

.homeDiv {
  @apply flex flex-col py-5 px-7;
}

.fst {
  @apply col-span-full justify-evenly;
}

@layer utilities {
  /** nav component **/
  .nav {
    border-color: #f0f2f5;
    z-index: 1;
  }

  /* colors */
  .tooltip {
    height: 30px;
    top: calc(1% - 2px);
    left: calc(80% - 56px);
    /* background-color: var(--fontPrimary); */
    color: rgb(155, 155, 155);
    /* display: none; */
  }

  .colors {
    left: calc(78% - 60px);
    bottom: calc(94% - 5px);
  }

  .theme-primary {
    background-image: var(--gradient-primary);
  }
  .theme-secondary {
    background-image: var(--gradient-secondary);
  }
  .theme-tertiary {
    background-image: var(--gradient-tertiary);
  }
  .theme-transparent {
    background-image: var(--gradient-transparent);
  }

  /** footer component **/
  .footer {
    border-color: #f0f2f5;
  }

  /* highlight */
  .highlight {
    position: relative;
  }

  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 3px;
    height: 100%;
    width: 99%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.03, 1.03) skewX(-15deg);
  }

  #theme-primary::after {
    background-image: var(--gradient-primary);
  }
  #theme-secondary::after {
    background-image: var(--gradient-secondary);
  }
  #theme-tertiary::after {
    background-image: var(--gradient-tertiary);
  }
  #theme-transparent::after {
    background-image: var(--gradient-transparent);
  }

  @media only screen and (max-width: 1024px) {
    .pageContainer {
      width: 70%;
    }
  }

  @media only screen and (max-width: 768px) {
    .pageContainer {
      width: 85%;
    }
  }

  @media only screen and (max-width: 640px) {
    .pageContainer {
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    .nav {
      height: 68px;
    }

    .leftside {
      /* opacity: 0; */
      display: none;
    }

    .checkbtn {
      display: block;
    }

    .rightside {
      width: 100px;
      margin-right: 1rem;
    }

    .tooltip {
      top: calc(1% - 8px);
      left: calc(80% - 64px);
    }

    .colors {
      left: calc(70% - 58px);
      bottom: calc(96% - 10px);
    }
  }

  @media (min-width: 550px) {
    .otherNav {
      display: none;
    }
  }
}
