@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontPrimary: #002333;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --gradient-tertiary: linear-gradient(to top left, #faaa16e8, #ff0000ed);
  /* --gradient-transparent: linear-gradient(45deg, #000000c2, #00000008); */
  --gradient-transparent: linear-gradient(45deg, #a7a7a7d6, #626262a6);
}

/*
color:
text-gray-700 dark:text-gray-200
text-gray-600 dark:text-gray-300
text-gray-500 dark:text-gray-400
*/

/* defalt color and size and transition */
/* 
color: rgb(55, 65, 81) dark:rgb(229, 231, 235) or, text-gray-700 dark:text-gray-200 
font-size: text-base
transition: 0.2s all ease-out; {tailwindcss => (duration-200 ease-out)}
*/

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Proxima Nova'; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursor {
  @apply cursor-pointer;
}

.nav-items {
  @apply w-1/2 h-16 list-none flex justify-start items-center;
}

.nav-lists {
  @apply w-full h-14 list-none px-6 flex justify-start items-center;
}

.nav-lists:hover {
  @apply bg-slate-100 dark:bg-zinc-800;
}

.navbar-links:hover {
  @apply duration-200 ease-out text-gray-600 dark:text-gray-300; /*transition*/
}

.activeNav {
  @apply text-gray-500 dark:text-gray-400;
}

.color {
  @apply w-3 h-3 mx-1.5 border-b border-slate-50 rounded-md cursor-pointer md:w-4 md:h-3.5;
}

.color:hover {
  @apply border-2 border-gray-200 /*dark:border-white; */;
}

.theme-current {
  @apply bg-transparent;
}

.activeColor {
  @apply border-2 border-gray-300 dark:border-white;
}

.homeDiv {
  @apply flex flex-col py-8;
}

.fst {
  @apply col-span-full justify-evenly;
}

.text-color {
  @apply text-gray-500 dark:text-gray-400;
}

.blog {
  @apply hover:border-b border-gray-200 dark:border-gray-600;
}

@layer utilities {
  /** global **/

  /** nav component **/
  .navbar,
  .border-b-color {
    border-color: #f0f2f5;
    /* z-index: 1; */
  }

  /* colors */
  .rotation {
    transition: 0.2s all ease-out;
    /* hover:scale-95 transition-all*/
  }

  /* .rotation:hover {
    transform: scale(0.95);
  } */ /* can do with onMouseOvers */

  .colorsdiv {
    left: calc(76% - 58px);
  }

  .theme-primary {
    background-image: var(--gradient-primary);
  }
  .theme-secondary {
    background-image: var(--gradient-secondary);
  }
  .theme-tertiary {
    background-image: var(--gradient-tertiary);
  }
  .theme-transparent {
    background-image: var(--gradient-transparent);
  }

  /** footer component **/
  .footer {
    border-color: #f0f2f5;
  }

  /* highlight */
  .highlight {
    position: relative;
  }

  .highlight::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 1px;
    height: 100%;
    width: 99%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.03, 1.03) skewX(-15deg);
  }

  #theme-primary::after {
    background-image: var(--gradient-primary);
  }
  #theme-secondary::after {
    background-image: var(--gradient-secondary);
  }
  #theme-tertiary::after {
    background-image: var(--gradient-tertiary);
  }
  #theme-transparent::after {
    background-image: var(--gradient-transparent);
  }

  /*** Blog */
  .post-title {
    min-width: 220px;
  }

  .post-time {
    min-width: 148px;
  }

  .post-items {
    transition: 0.2s all ease-out;
    text-decoration: none;
    border-bottom: none !important;
    opacity: 0.6;
  }

  .post-items:hover {
    opacity: 100;
  }

  .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* justify-items: center; */
    justify-content: center;
    gap: 20px;
    row-gap: 20px;
  }

  .w-320 {
    /* width: 320px; */
    width: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .pageContainer {
      width: 70%;
    }
  }

  @media only screen and (max-width: 768px) {
    .pageContainer {
      width: 85%;
    }

    .rightside {
      width: 27%;
    } /* never existed before */
  }

  @media only screen and (max-width: 640px) {
    .pageContainer {
      width: 100%;
    }

    .images {
      justify-items: center;
    }
  }

  @media only screen and (max-width: 550px) {
    .navbar {
      height: 68px;
    }

    .navbar,
    .homepage,
    .blogpage,
    .footer {
      padding: 14px 24px;
    }

    .leftside {
      /* opacity: 0; */
      display: none;
    }

    .checkbtn {
      display: block;
    }

    .rightside {
      margin-right: 0px;
    }

    .colorsdiv {
      padding-top: 0px;
      height: auto;
      left: calc(45% - 70px);
    }

    .colorsbar {
      display: flex;
      flex-direction: row-reverse;
    }

    .rotation {
      /* transition: 0.2s all ease-out; */
      transform: rotate(90deg);
    }

    .footer-content {
      min-height: 240px;
      flex-direction: column-reverse;
    }

    .first-content {
      width: 100%;
    }

    .second-content {
      width: 100%;
      justify-content: flex-start;
    }
  }

  @media (min-width: 550px) {
    .otherNav {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .footer-last-content {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media (max-width: 300px) {
    .highlightheading {
      position: relative;
      white-space: normal;
    }

    .highlightheading::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0px;
      height: 100%;
      width: 195%;
      z-index: -1;
      opacity: 0.7;
      transform: scale(1.05, 1.03) skewX(-12deg);
    }
  }
}
